*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    text-align: center;
    width: 600px;
    padding: 10px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 3rem;
}

.text-primary{
    color: #3498db;
}

.input-items{
    margin: 20px;
}

.inputs{
    width: 300px;
    padding: 15px;
    outline: none;
    background: none;
    border: 1px solid #3498db;
    margin: 0;
}

.btn-primary{
    padding: 15px;
    border: 1px solid #3498db;
    margin: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-danger{
    width: 40px;
    padding: 10px;
    border: 1px solid #22a7f0;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn-primary:hover{
    color: #fff;
    background-color: #22a7f0;
}

.btn-danger:hover{
    color: #fff;
    border: 1px solid #f22613;
    background-color: #f22613;
}

.inputs:focus{
    border: 1px solid #2c82c9;
    box-shadow: 0 1px 3px #2c82c9, 0 1px 10px #2c82c9;
}

.alert-danger{
    background-color: #f03434;
    margin: 10px auto;
    width: 390px;
    padding: 10px;
    color: #fff;
}

.alert-success{
    background-color: #2c82c9;
    margin: 10px auto;
    width: 390px;
    padding: 10px;
    color: #fff;
}

#todos{
    text-align: center;
}

.todos-item{
    margin: 10px auto;
    padding: 5px 10px;
    border: 1px solid #3498db;
    width: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todos-item .inp{
    padding: 10px;
    outline: none;
    background: none;
    border: 1px solid #3498db;
    margin: 0;
    display: none;
}

.todos-item span{
    margin: 0 10px;
}

section.edit span{
    display: none;
}

section.edit .inp{
    display: initial;
}

section .oncheck{
    text-decoration: line-through;
}